
# Function to pip install a branch/tag or master if doesn't exist
pipinstall() {
    REPO=$1
    BRANCH=$2
    git ls-remote --exit-code $REPO $BRANCH > /dev/null
    if [ $? -eq 2 ]; then
        BRANCH="master"
    fi
    echo "Installing $REPO@$BRANCH"
    pip install --upgrade git+$REPO@$BRANCH
}

# Function to git clone a branch/tag or master if doesn't exist
gitclone() {
    REPO=$1
    BRANCH=$2
    TARGET=$3
    git ls-remote --exit-code $REPO $BRANCH > /dev/null
    if [ $? -eq 2 ]; then
        BRANCH="master"
    fi
    echo "Cloning $REPO@$BRANCH"
    git clone --branch $BRANCH $REPO $TARGET
}


# Setup Variables from environment
spynnaker_version=${spynnaker_version:-4.0.0}
spinnaker_tools_version=${spinnaker_tools_version:-3.1.1}

# Install and upgrade libraries
pip install --upgrade pip setuptools wheel
pip install --only-binary=numpy,scipy,matplotlib numpy scipy matplotlib

# Get SpiNNaker Tools
gitclone https://github.com/SpiNNakerManchester/spinnaker_tools.git $spinnaker_tools_version

# Get the rest of the tools
pipinstall git://github.com/SpiNNakerManchester/SpiNNUtils.git $spynnaker_version
pipinstall git://github.com/SpiNNakerManchester/SpiNNMachine.git $spynnaker_version
pipinstall git://github.com/SpiNNakerManchester/SpiNNStorageHandlers.git $spynnaker_version
pipinstall git://github.com/SpiNNakerManchester/SpiNNMan.git $spynnaker_version
pipinstall git://github.com/SpiNNakerManchester/PACMAN.git $spynnaker_version
pipinstall git://github.com/SpiNNakerManchester/DataSpecification.git $spynnaker_version
pipinstall git://github.com/SpiNNakerManchester/spalloc.git $spynnaker_version
gitclone https://github.com/SpiNNakerManchester/spinn_common.git $spynnaker_version
gitclone https://github.com/SpiNNakerManchester/SpiNNFrontEndCommon.git $spynnaker_version
gitclone https://github.com/SpiNNakerManchester/sPyNNaker.git $spynnaker_version
gitclone https://github.com/SpiNNakerManchester/sPyNNaker8.git $spynnaker_version

# Build the C Code
export SPINN_DIRS=${PWD}/spinnaker_tools
export NEURAL_MODELLING_DIRS=${PWD}/sPyNNaker/neural_modelling
ls -ld SpiNNFrontEndCommon/c_common/
ls -ld sPyNNaker/neural_modelling/
make -C $SPINN_DIRS
make -C spinn_common install
make -C SpiNNFrontEndCommon/c_common/
make -C SpiNNFrontEndCommon/c_common/ install
make -C sPyNNaker/neural_modelling/

# Install the Python code (now with C binaries)
(cd SpiNNFrontEndCommon; python setup.py install)
(cd sPyNNaker; python setup.py install)
(cd sPyNNaker8; python setup.py install)
python -m spynnaker8.setup_pynn
